ion-slide:nth-child(2n) {
    background-color: #f5f5f5;
}

.slide-zoom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

i {
    font-size: 50px !important;
    height: 50px !important;
    display: contents !important;
    border-radius: 0 !important;
    color: #7f8c8d !important;
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;
    b {
        color: #000000;
    }
}

#mime {
    font-size: 50px;
    min-height: 55px;
    font-weight: lighter;
    text-align: center;
    width: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #7f8c8d;
}

@media (orientation: landscape) {
    .slide-body {
        margin-top: 10%;
    }
    #mime {
        margin: 0;
    }
}