<ion-content>
  <ion-slides pager #mySlider (ionSlideDidChange)="setCategory()">
    <ion-slide *ngFor="let slide of slides">
      <i [class]="slide.icon"></i>
      <ion-buttons>
        <button ion-button color="default" (click)="showMime(slide.id)" [innerHTML]="'Nouveau mime ' + slide.title"></button>
      </ion-buttons>
      <p id="mime" [innerHTML]="mime"></p>
    </ion-slide>
  </ion-slides>
</ion-content>